@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,500;1,400&display=swap');

body{
   font-family: 'Montserrat',sans-serif,Georgia, 'Times New Roman', Times, serif;
}

li{
   padding:0 15px;
   cursor: pointer; 
}

.content-div{
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   height: 250px;
}

.content-div:hover{
   background-image: linear-gradient(
      to right,
      rgba(112,157,255,0.8),
      hsla(242,74%,61%,0.8)
   )!important;
}